body {
    font-family: Arial, Sans-Serif;
    background-color: #013316;
}

.elephant-image {
    border: 5px solid white;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 50px;
}

ul {
    align: center;
}