body {
    font-family: Arial, Sans-Serif;
    background-color: #013316;
    max-width: 750px;
    margin: Auto 0;
}
.elephant-image {
    border: 5px solid white;
    
    justify-content: center;
}

h1 {
    text-align: center;
}
